body {
  font-family: "Montserrat"
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.title__container {
  padding: 3% 15% 100px;
}

/* Navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar__container {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Title */

.title__h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.title--column {
  margin-bottom: 5%;
}

/* Title -- Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title -- Image */
.img--parent {
  position: relative;
}

.title__image {
  width: 60%;
  transform: rotate(21deg);
  position: absolute;
  top: -3.125rem;
  right: 30%;
}


/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features--column {
  text-align: center;
  padding: 0 7%
}

.features--column h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
}

.features--column p {
  color: #8f8f8f;
}

.features--icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features--icon:hover {
  color: #ff4c68;
}

/* Testimonials + Press */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#testimonials h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonials__img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press__img {
  width: 12%;
  margin: 0 1% 0;
}

/* Pricing */
#pricing {
  padding: 6.25%;
  text-align: center;
}

.pricing--h2 {
  font-weight: bold;
}

.pricing--p {
  margin-bottom: 2%;
  font-size: 1.1rem;
}

.card-group {
  padding: 0 7% 0;
}

.card-text--last {
  margin-bottom: 57px;
}

.card-header {
  background-color: #ef8172;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card-text p {
  font-size: 1.1rem;
}


/* Cta */
.cta__container{
  background-color: #ff4c68;
  text-align: center;
  padding: 6%;
}
.cta__container h3{
  font-weight: 900;
color: #fff;
font-size: 3rem;
width: 60%;
margin: -1% auto 5%;
}
.cta__container__btn{
  margin: 0 1% 0;
}
/* footer */
.footer__container{
  text-align: center;
  padding: 3%;
}
.footer__container__contact-img{
  margin: 0 1% 2%;
  cursor: pointer;
}
.footer__container__contact-img:hover{
  color: #ff4c68;
}
 /* media queries */
 @media only screen and (min-width: 721px) and (max-width: 1200px){
   #title{
     text-align: center;
   }

   .title__container{
     padding: 3% 5% 1%;
   }
   .title--column{
     margin-bottom: 0;
   }
   .title__image{
     width: 35%;
     position: static;
     transform: rotate(0);
   }
   #features{
     padding: 7% 3%;
   }
   .features--column{
     padding: 0 1%;
     font-size: 200%;
   }
   .features--column h3{
     font-size: 110%;
   }
   .testimonials__img{
     width: 10%;
   }
   .testimonial__name{
     font-size: 160%;
   }
   .press__img{
      width: 20%;
   }
 }
  @media only screen and (max-width: 720px){
    .title__image{
      display: none;
    }
  }
